@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/***************
variables
****************/
$fontFamily: 'Montserrat', sans-serif;
$fontSize: 16px;
$lightBlue: #00aeef;
$darkBlue: #0b223d;
$white: #fff;
$transition: .3s ease;
$padding: 50px 0;

/***************
basic styles
****************/
body {
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $darkBlue;
    line-height: 1.5;
}
a {
    text-decoration: none;
    color: $darkBlue;
    text-transform: uppercase;
}
ul {
    list-style: none;
}

/***************
mixins
****************/
@mixin h2 {
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    &::after {
        content: "";
        height: 15px;
        width: 20%;
        display: block;
        background: linear-gradient(40deg, $lightBlue, $white);
        margin: 10px auto 30px auto;
    }
}
@mixin btn {
    font-size: 1rem;
    color: $white;
    padding: 15px 30px;
    border: none;
    border-radius: 20px 0 20px 0;
    margin: 30px auto 0 auto;
    background: linear-gradient(to left, $darkBlue, $lightBlue);
    display: block;
    transition: $transition;
    &:hover {
        border-radius: 0 20px 0 20px;
    }
}

@mixin flex($justify, $align, $direction) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

/***************
nav
****************/
.navbar-brand img {
    width: 100px;
    height: auto;
}
.nav-item {
    margin-right: 25px;
    .nav-link {
        transition: $transition;
    }
    .nav-link:hover {
        color: $lightBlue !important;
    }
}
.nav-item:last-child {
    margin-right: 0;
}

/***************
header
****************/
header {
    background-image: linear-gradient(rgba(255, 255, 255, 0.99), rgba(11, 34, 61, 0.1)), url(/img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 81vh;
    //@include flex(flex-end, flex-end, row);
    h1 {
        font-size: 3rem;
        color: $white;
        background: linear-gradient(rgba(0, 174, 239, .5), rgba(0, 174, 239, .5));
        display: inline-block;
        padding: 30px 30px 30px 60px;
        margin-bottom: 0;
        text-align: right;
        border-radius: 200px 0 0 0;
        letter-spacing: 1px;
        font-weight: 700;
    }
}

/***************
o nama
****************/
.o-nama {
    padding: $padding;
    h2 {
        @include h2;
    }
    h3 {
        font-size: 1.7rem;
        margin: 10px 0;
        font-weight: 700;
    }
    ul {
        padding-left: 0;
        i {
            font-weight: 900;
            color: #00aeef;
            margin-right: 10px;
        }
    }
    button {
        @include btn;
    }
}

/***************
usluge
****************/
.usluge {
    background-image: linear-gradient(rgba(0, 174, 239, .8), rgba(0, 174, 239, .8)), url(/img/bg.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 400px 0 0 0;
    .container {
        padding: $padding;
        h2 {
            @include h2;
        }
        i {
            font-size: 2rem;
        }
        p {
            color: $white;
            font-size: 1.2rem;
        }
    }
}

/***************
mentorske usluge
****************/
.menUsluge {
    padding: $padding;
    h2 {
        @include h2;
    }
    button {
        @include btn;
    }
}

/***************
preporuke
****************/
.preporuke {
    background-image: linear-gradient(rgba(0, 174, 239, .8), rgba(0, 174, 239, .8)), url(/img/bg.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 0 400px 0 0;
    h2 {
        @include h2;
    }
}