@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
/***************
variables
****************/
/***************
basic styles
****************/
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #0b223d;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #0b223d;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

/***************
mixins
****************/
/***************
nav
****************/
.navbar-brand img {
  width: 100px;
  height: auto;
}

.nav-item {
  margin-right: 25px;
}

.nav-item .nav-link {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.nav-item .nav-link:hover {
  color: #00aeef !important;
}

.nav-item:last-child {
  margin-right: 0;
}

/***************
header
****************/
header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.99)), to(rgba(11, 34, 61, 0.1))), url(/img/header.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.99), rgba(11, 34, 61, 0.1)), url(/img/header.jpg);
  background-position: center;
  background-size: cover;
  height: 81vh;
}

header h1 {
  font-size: 3rem;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 174, 239, 0.5)), to(rgba(0, 174, 239, 0.5)));
  background: linear-gradient(rgba(0, 174, 239, 0.5), rgba(0, 174, 239, 0.5));
  display: inline-block;
  padding: 30px 30px 30px 60px;
  margin-bottom: 0;
  text-align: right;
  border-radius: 200px 0 0 0;
  letter-spacing: 1px;
  font-weight: 700;
}

@media (max-width: 767px) {
  header h1 {
    font-size: 2rem;
    padding: 15px 15px 15px 30px;
  }
}

/***************
o nama
****************/
.o-nama {
  padding: 50px 0;
}

.o-nama h2 {
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
}

.o-nama h2::after {
  content: "";
  height: 15px;
  width: 20%;
  display: block;
  background: linear-gradient(40deg, #00aeef, #fff);
  margin: 10px auto 30px auto;
}

.o-nama h3 {
  font-size: 1.7rem;
  margin: 10px 0;
  font-weight: 700;
}

.o-nama ul {
  padding-left: 0;
}

.o-nama ul i {
  font-weight: 900;
  color: #00aeef;
  margin-right: 10px;
}

.o-nama button {
  font-size: 1rem;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 20px 0 20px 0;
  margin: 30px auto 0 auto;
  background: -webkit-gradient(linear, right top, left top, from(#0b223d), to(#00aeef));
  background: linear-gradient(to left, #0b223d, #00aeef);
  display: block;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.o-nama button:hover {
  border-radius: 0 20px 0 20px;
}

/***************
usluge
****************/
.usluge {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 174, 239, 0.8)), to(rgba(0, 174, 239, 0.8))), url(/img/bg.jpg);
  background-image: linear-gradient(rgba(0, 174, 239, 0.8), rgba(0, 174, 239, 0.8)), url(/img/bg.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 400px 0 0 0;
}

.usluge .container {
  padding: 50px 0;
}

.usluge .container h2 {
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
}

.usluge .container h2::after {
  content: "";
  height: 15px;
  width: 20%;
  display: block;
  background: linear-gradient(40deg, #00aeef, #fff);
  margin: 10px auto 30px auto;
}

.usluge .container i {
  font-size: 2rem;
}

.usluge .container p {
  color: #fff;
  font-size: 1.2rem;
}

/***************
mentorske usluge
****************/
.menUsluge {
  padding: 50px 0;
}

.menUsluge h2 {
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
}

.menUsluge h2::after {
  content: "";
  height: 15px;
  width: 20%;
  display: block;
  background: linear-gradient(40deg, #00aeef, #fff);
  margin: 10px auto 30px auto;
}

.menUsluge button {
  font-size: 1rem;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 20px 0 20px 0;
  margin: 30px auto 0 auto;
  background: -webkit-gradient(linear, right top, left top, from(#0b223d), to(#00aeef));
  background: linear-gradient(to left, #0b223d, #00aeef);
  display: block;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.menUsluge button:hover {
  border-radius: 0 20px 0 20px;
}

/***************
preporuke
****************/
.preporuke {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 174, 239, 0.8)), to(rgba(0, 174, 239, 0.8))), url(/img/bg.jpg);
  background-image: linear-gradient(rgba(0, 174, 239, 0.8), rgba(0, 174, 239, 0.8)), url(/img/bg.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 0 400px 0 0;
  padding: 50px 0;
}

.preporuke h2 {
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
}

.preporuke h2::after {
  content: "";
  height: 15px;
  width: 20%;
  display: block;
  background: linear-gradient(40deg, #00aeef, #fff);
  margin: 10px auto 30px auto;
}

.preporuke .col-md-6 img {
  border-radius: 50%;
  width: 60%;
  height: auto;
  margin-bottom: 20px;
}

.preporuke .col-md-6 h4 {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
}

.preporuke .col-md-6 .lead {
  font-weight: bold;
  font-size: 0.8rem;
  color: #0b223d;
  margin-top: 10px;
}

/***************
footer
****************/
footer {
  background: #0b223d;
  padding: 25px 0;
  text-align: center;
}

footer p {
  color: #fff;
}

footer p a {
  color: #00aeef;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

footer p a:hover {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */